* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: url('img/mountain.jpg') no-repeat center;
    background-size: cover;
}

/* Search block stylization */

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin: auto;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.input_search {
    background: transparent;
    margin: 10px auto;
    padding: 0 15px;
    border: 1px solid #f0abff;
    border-radius: 50px;
    font-family: 'Poppins';
    font-weight: 200;
    color: white;
    outline: none;
}

.input_search::placeholder {
    font-family: 'Poppins';
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
}

.input_search#city {
    box-shadow: 10px 10px 10px rgba(136, 99, 143, 50);
    width: 450px;
    height: 50px;
    font-size: 20px;
}

.submit {
    width: 150px;
    height: 35px;
    margin: 10px auto;
    background: linear-gradient( 0.25turn, #8e4fc9, #c94fbf);
    border: none;
    border-radius: 50px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.submit:hover {
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.2) linear-gradient( 0.25turn, #8e4fc9, #c94fbf);
    background-blend-mode: overlay;
}

/* Weather window block stylization */

.wrapper {
    display: none;
    width: 1000px;
    height: 600px;
    background: #f0abff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.city_search {
    display: flex;
    height: 12%;
    float: right;
    margin: 0 7%;
}

.input_search#city_top {
    width: 300px;
    height: 35px;
    margin: auto 3%;
    font-size: 15px;
    border-color: #fff;
}

.submit#btn_search_top {
    height: 35px;
    margin: auto 1%;
}

/* Today weather block stylization */

.today_weather {
    display: flex;
    width: 80%;
    height: 30%;

    background: rgba(0, 0, 0, 0.4) url('');
    background-blend-mode: overlay;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    border:none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    margin: 0 auto;
    padding: 3%;
}



/* Another weather blocks stylization */

.week_weather {
    display: flex;
    width: 85%;
    height: 35%;

    margin: 4% auto;
    justify-content: center;
}

.week_weather .day {
    width: 22%;
    height: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;

    font-family: 'Poppins';
    font-size: 15px;
    color: black;
}

/* .week_weather .day img {
    
} */

.week_weather .date {
    font-size: 115%;
    font-family: 'Poppins';
    font-weight: 400;
    color: black;
    margin: 8%;
}

.week_weather .degrees {
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 200;
    color: black;
}

@media all and (max-width: 480px) {
    
    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .start {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 300px;
        margin: auto;
        align-items: center;
        align-content: center; 
        justify-content: center; 
    }

    .input_search {
        background: transparent;
        margin: 10px auto;
        padding: 0 15px;
        border: 1px solid #f0abff;
        border-radius: 50px;
        font-family: 'Poppins';
        color: white;
        outline: none;
    }

    .input_search::placeholder {
        font-family: 'Poppins';
        font-weight: 200;
        color: rgba(255, 255, 255, 0.5);
    }

    .input_search#city {
        box-shadow: 10px 10px 10px rgba(136, 99, 143, 0.5);
        width: 95%;
        height: 50px;
        font-size: 20px;
    }

    .submit {
        width: 150px;
        height: 40px;
        margin: 10px auto;
        background: linear-gradient( 0.25turn, #8e4fc9, #c94fbf);
        border: none;
        border-radius: 50px;
        font-family: 'Poppins';
        font-weight: 200;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    .submit:hover {
        transition: 0.3s;
        background: rgba(0, 0, 0, 0.2) linear-gradient( 0.25turn, #8e4fc9, #c94fbf);
        background-blend-mode: overlay;
    }
    .wrapper {
        display: none;
        width: 85vw;
        height: 85vh;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        align-items: center;
        justify-content: center;
    }
    
    .city_search {
        width: 80%;
        height: 15%;
        float: none;
        margin: 0 auto;
    }
    
    .input_search#city_top {
        width: 48vw;
        margin: auto;
    }
    
    .submit#btn_search_top {
        width: 35px;
        margin: auto;
    }

    /* Today weather block stylization */
    
    .today_weather {
        flex-wrap: wrap;
        box-shadow: none;
    }
    
    .today_weather .city_name, .today_date, .today_degrees, .today_weather_conditions {
        width: 46%;
        color: white;
        font-family: 'Poppins';
        margin: auto;
    }

    .today_weather .city_name, .today_date {
        width: 96%;
        height: 20%;
    }

    .today_weather .city_name {
        font-size: 25px;
    }

    .today_weather .today_date {
        font-size: 15px;
    }

    .today_weather .today_weather_conditions {
        text-align: center;
    }

    /* Another weather blocks stylization */
    
    .week_weather {
        flex-wrap: wrap;
        height: 45%;
        justify-content: space-between;
    }
    
    .week_weather .day {
        width: 46%;
        height: 46%;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: none;
        margin: auto 0;
        overflow: hidden;
    }

    .week_weather .day#tomorrow {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .week_weather .day#day3 {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .week_weather .day#day4 {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .week_weather .day#day5 {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    .week_weather .date {
        color: white;
    }
    
    .week_weather .degrees {
        display: flex;
        font-size: 100%;
        margin-top: 15%;
        color: white;
    }

    .week_weather img {
        display: none;
    }
}

@media all and (min-width: 480px) {

    .start {
        width: 60vw;
    }

    .input_search {
        margin: 20px auto;
        border-radius: 50px;
    }

    .input_search::placeholder {
        font-size: 2.5vh;
    }

    .input_search#city {
        width: 95%;
        height: 60px;
        font-size: 25px;
    }

    .submit {
        width: 20vw;
        height: 50px;
        font-size: 25px;
        transition: all ease 1s;
    }
    .wrapper {
        width: 85vw;
        height: 85vh;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    }
    
    .city_search {
        width: 85%;
        height: 13%;
        float: none;
        margin: 0 auto;
    }
    
    .input_search#city_top {
        width: 50vw;
        height: 5vh;
        font-size: 25px;
        margin: auto;
    }
    
    .submit#btn_search_top {
        width: 15vw;
        height: 5vh;
        margin: auto;
    }

    /* Today weather block stylization */
    
    .today_weather {
        flex-wrap: wrap;
        box-shadow: none;
    }
    
    .today_weather .city_name, .today_date, .today_degrees, .today_weather_conditions {
        width: 46%;
        color: white;
        font-family: 'Poppins';
        margin: auto;
    }

    .today_weather .city_name, .today_date {
        width: 96%;
        height: 20%;
    }

    .today_weather .city_name {
        font-size: 5vh;
    }

    .today_weather .today_date, .today_degrees, .today_weather_conditions {
        font-size: 2.8vh;
    }

    .today_weather .today_weather_conditions {
        text-align: center;
    }

    /* Another weather blocks stylization */
    
    .week_weather {
        flex-wrap: wrap;
        height: 45%;
        justify-content: space-around;
    }
    
    .week_weather .day {
        width: 46%;
        height: 46%;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: none;
        margin: auto 0;
        overflow: hidden;
    }

    .week_weather .day#tomorrow {
        border-right: 3px solid rgba(255, 255, 255, 0.3);
        border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    }

    .week_weather .day#day3 {
        border-left: 3px solid rgba(255, 255, 255, 0.3);
        border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    }

    .week_weather .day#day4 {
        border-right: 3px solid rgba(255, 255, 255, 0.3);
        border-top: 3px solid rgba(255, 255, 255, 0.3);
    }

    .week_weather .day#day5 {
        border-left: 3px solid rgba(255, 255, 255, 0.3);
        border-top: 3px solid rgba(255, 255, 255, 0.3);
    }
    
    .week_weather .date {
        font-size: 3vh;
        font-weight: 200;
        color: white;
    }
    
    .week_weather .degrees {
        display: flex;
        font-size: 2.5vh;
        margin-top: 8%;
        color: white;
    }

    .week_weather img {
        display: none;
    }
}