* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: url('img/mountain.jpg') no-repeat center;
    background-size: cover;
}

/* Search block stylization */

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin: auto;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.input_search {
    background: transparent;
    margin: 10px auto;
    padding: 0 15px;
    border: 1px solid #f0abff;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    outline: none;
}

.input_search::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.5);
}

.input_search#city {
    box-shadow: 10px 10px 10px rgba(136, 99, 143, 50);
    width: 450px;
    height: 50px;
    font-size: 20px;
}

.submit {
    width: 150px;
    height: 35px;
    margin: 10px auto;
    background: linear-gradient( 0.25turn, #8e4fc9, #c94fbf);
    border: none;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.submit:hover {
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.2) linear-gradient( 0.25turn, #8e4fc9, #c94fbf);
    background-blend-mode: overlay;
}

/* Weather window block stylization */

.wrapper {
    display: none;
    width: 1000px;
    height: 600px;
    background: #f0abff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.city_search {
    display: flex;
    height: 12%;
    float: right;
    margin: 0 7%;
}

.input_search#city_top {
    width: 300px;
    height: 35px;
    margin: auto 3%;
    font-size: 15px;
    border-color: #fff;
}

.submit#btn_search_top {
    height: 35px;
    margin: auto 1%;
}

/* Today weather block stylization */

.today_weather {
    display: flex;
    width: 80%;
    height: 30%;

    background: rgba(0, 0, 0, 0.4) url('img/rain/puddle.gif');
    background-blend-mode: overlay;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    border:none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    margin: 0 auto;
    padding: 3%;
}

.today_weather .city_name, .today_date, .today_degrees, .today_weather_conditions, .today_another_inform {
    color: white;
    margin: auto auto;
    font-family:Arial, Helvetica, sans-serif;
}

.today_weather .today_date, .today_weather_conditions, .today_another_inform {
    flex-direction: column;
}

.today_weather .city_name {
    width: 40%;
    font-size: 60px;
    color: white;
}

.today_weather .today_degrees {
    width: 10%;
}

/* Another weather blocks stylization */

.week_weather {
    display: flex;
    width: 85%;
    height: 35%;

    margin: 4% auto;
    justify-content: center;
}

.week_weather .day {
    width: 22%;
    height: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}